---
import MainLayout from '@/layouts/main-layout.astro';
---

<MainLayout title="Dashboard">
    <div class="container mx-auto p-4">
        <h1 class="mb-4 text-2xl font-bold">Tui đang ở trang dashboard nè</h1>
        <a
            href="/"
            class="mt-4 block text-blue-700 hover:text-blue-900 hover:underline"
            >Quay lại trang chủ</a
        >
    </div>
</MainLayout>
